@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --clr-black: #000;
  --clr-lightgray: #4D455D;
  --clr-white: #F5E9CF;

  --body-font: "Ubuntu", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;
  font-family: var(--body-font);
  color: var(--clr-black);
  background-color: var(--clr-white);
}